:root{
  --text-dark-color: #421d06;
  --text-light-color: #fef6c3;
  --dark-color: #713a12;
  --first-gradient: #FDD12E;
  --second-gradient: #85470e;
  --third-gradient: #ca7f04;
  --four-gradient: #a15a07;
}
*{
  box-sizing: border-box;
}
body{
  background-image: radial-gradient(circle at 50% 50%, #292521 0, #131415 50%, #000003 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--text-color);
  height: 100dvh;
  max-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-content: center;
  padding: 4rem 0;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, minmax(0 ,1fr));
}

#chat{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  max-height: 100%;
  width: 80%;
  border-radius: 2px;
  backdrop-filter: blur(5px);
  text-wrap: wrap;
  overflow-y: hidden;
  scroll-margin: 0.2rem;
}
article#messages{
  display: flex;
  flex-direction: column;
  color: var(--text-dark-color);
  overflow-y: auto;
  scroll-behavior: smooth;
} 
article > p{
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 !important;
  border-radius: 15px;
  width: 200px;
  font-weight: 600;
  color: var(--text-light-color);
}
article#messages p:nth-child(2n + 1){
  background: #333333;
  border: 2px solid var(--text-light-color) !important;
  align-self: flex-end;
}
article#messages p:nth-child(2n + 2){
  background: #747373;
  border: 2px solid var(--third-gradient) !important;
}
article#messages p:nth-child(3n+1){
  border: 2px solid #111a27 !important;
}
article#messages p:nth-child(3n+2){
  border: 2px solid var(--first-gradient) !important;
}
form#form{
  height: 4rem;
  width: 100%;
  right: 0;
  bottom: 10px;
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
}
input#input{
  width: 100%;
  background-image: linear-gradient(60deg, #423d33 0, #2a2b2d 50%, #111a27 100%);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-light-color);
  font-weight: 700;
  border: 2px solid var(--dark-color);
  border-radius: 0.5rem;
  padding: 0 1rem;
}
#input:focus{
  outline: none;
}
#form>button{
  font-style: unset;
  width: 100px;
  border: 2px solid var(--dark-color);
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: linear-gradient(60deg, #423d33 0, #2a2b2d 50%, #111a27 100%);
  color: var(--text-light-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
p > span {
  justify-content: right;
  display: flex;
  font-size: x-small;
  width: 100%;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #423d334d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a2b2d67;
}
@media (min-width: 1024px) {
  body{
    padding: 4rem 6rem;
  }
  #chat{
    width: 70%;
  }
}
@media (min-width: 1600px) {
  body{
    padding: 4rem 6rem;
  }
  #chat{
    width: 1033px;
  }
}
@keyframes rotate {
  100% {
      transform: rotate(1turn);
  }
}